

header {

    text-align:center;
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    padding:24px;
    color: #2E8B57;
}

.nav-link{

    color:#2E8B57;
}

a:hover {
    color: #337033;
      
  }


body{

    text-align: center;
    font-family: 'Roboto', sans-serif;  
    background-image: url(https://images.unsplash.com/photo-1547471080-7cc2caa01a7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
    background-position: center center;
    background-repeat: no-repeat; /*doesn't tile*/
    background-attachment: fixed;  /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    background-size: cover; /* This is what makes the background image rescale based
    on the container's size */
}

.container{


    background-color: #dbd7d2;
    padding:24px;

}





/*footer{

    text-align:center;
    background-color: whitesmoke;
    margin-left: 100px;
    margin-right:100px;
    margin-bottom:0;

}*/




