

header {

    text-align:center;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
}



body{

    font-family: 'Roboto', sans-serif;                    
}


footer{

    text-align:center;
}




